@model TodosApp.ViewModels.Task.TaskViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <form asp-controller="Task" asp-action="SaveNew" method="post">
        <label for="description">Description:</label>
        <input asp-for="Description" id="description"/>   
        <label for="duedate">Due date:</label>
        <input asp-for="DueDate" type="datetime-local" id="duedate" value="@DateTime.Today.ToString("yyyy-MM-ddTHH:MM")" />

        <button type="submit">Save</button>
    </form>
</div>