@model TodosApp.ViewModels.Task.TaskViewModel
@{
    ViewData["Title"] = "Create";
}

<tr class="editable">
    <td><input id="description" asp-for="Description"></td>
    <td><input asp-for="DueDate" type="datetime-local"></td>    
    <input asp-for="Id" type="hidden">
    <td>
        <div>
            <button class="btn fa fa-check"
            hx-put
            hx-controller="Task"
            hx-action="Edit"
            hx-include="closest tr"
            hx-trigger="click, keyup[key=='Enter'] from:#description"
            _="on click set #newButton.disabled to false"/>           
            <button hx-get
                    hx-controller="Task"
                    hx-action="Task"
                    hx-route-id="@Model.Id"                    
                    class="btn fa fa-times"
                    _="on click set #newButton.disabled to false"/>                        
        </div>                
    </td>      
</tr>