@model TodosApp.ViewModels.Task.TaskViewModel
@{
    ViewData["Title"] = "Create";
}

<tr class="createEditor" _="on load or taskAdded hide me">
    <td><input id="description" asp-for="Description" placeholder="Write description of your task"></td>
    <td><input asp-for="DueDate" type="datetime-local" value=@DateTime.Now.ToString("yyyy-MM-ddTHH:MM")></td>        
    <td>
        <div>
            <button class="btn fa fa-check"                
                hx-post
                hx-controller="Task"
                hx-action="SaveNew"
                hx-swap="beforebegin"
                hx-target="closest tr"
                hx-include="closest tr"
                hx-trigger="taskAdded"
                _="on click or keyup[key=='Enter'] from .createEditor send taskAdded then set #newButton.disabled to false"/>                                        
            <button class="btn fa fa-eraser"
                _="on click set value of #description to ''"/>                        
            <button class="btn fa fa-times"
                _="on click
                    hide .createEditor
                    then set #newButton.disabled to false
                    then set value of #description to ''"/>                        
        </div>                
    </td>      
</tr>

<tr>
    <td></td>
    <td></td>
    <td>
    <button id="newButton" class="btn fa fa-plus"
        _ = "on click show .createEditor then set me.disabled to true"/>
    </td>
</tr>

