@using TodosApp.ViewModels.Task
@model IEnumerable<TaskViewModel>
@{
    ViewData["Title"] = "Tasks";
}

<div class="text-center">

    @await Html.PartialAsync("_PartialCreate", new TaskViewModel())    
    
    <table class="table table-fixed">     
        <thead>
            <tr>
                <th>Description</th>
                <th>Due date</th>
                <th>Action</th>
            </tr>   
        </thead>  

        <tbody hx-target="closest tr" hx-swap="outerHTML">
            @foreach(var task in Model)
            {
                @await Html.PartialAsync("_PartialEntryRow", task)
            }      
        </tbody>
    </table>
    
</div>
